:root {
	--dark: #a6c2ef;
	--darker: #c0d4f0;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #fffbfb;
}

* {
	margin: 0;
	box-sizing: border-box;
	
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--dark);
}
header {

    padding: 2em;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
    /* border: 2px solid red; */
}

header h1{ 
	font-size: 2.5rem;

	color: var(--grey);
	margin-bottom: 1rem;
}
#task-form {
	display: flex;
    /* border: 2px solid red; */
}
input, button {

	border: none;
	outline: none;
	background: none;
}

#task-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}
#task-submit {
	
	font-size: 1.25rem;
	
	color: #8B5CF6;

	cursor: pointer;
	transition: 0.4s;
}
#task-submit:hover {
	opacity: 0.8;
}
#task-submit:active {
	opacity: 0.6;
}
div {
	
	/* flex: 1 1 0%;
	width: 100%;
	margin: 0 auto; */
	max-width: 800px;
    flex: 1 1 0%;
    margin: 0 auto;
    width: 100%;
}

.task-list {
	padding: 1rem;
}
.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
    margin-left: 300px;
}
#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}
.task .content {
	flex: 1 1 0%;
}
.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--pink);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	color: #8B5CF6;
	
}

.task .actions .delete {
	color: rgb(233, 174, 186);
}